.navbar {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    padding: 10px 20px;
    gap: 20px;
}

.logo img {
    height: 60px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu>li {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    border-radius: 6px;
    z-index: 999;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 5px 10px;
}

.dropdown-content ul {
    margin-left: 10px;
    list-style: square;
}