/* Header.css */
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    min-width: 1320px;
}

.logo-img {
    height: 40px;
    margin: 0px 130px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 150px;
    display: flex;
    gap: 20px;
}

nav li {
    position: relative;
    cursor: pointer;
}

nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fafafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 250px;
}

nav li:hover>ul {
    display: block;
    color: #e31e25;
}

nav li>a,
nav li {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 10px;
}

nav li ul li {
    padding: 5px 15px;
}

nav li ul li:hover {
    color: #e31e25;
}