* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 50px;
    background-color: white;
    position: relative;
}

.menu-toggle {
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.nav-links a:hover {
    color: green;
    padding-bottom: 5px;
    border-bottom: 2px solid green;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    min-width: 650px;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

/* Left vertical button menu */
.dropdown-menu .left-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 180px;
}

.dropdown-menu .left-menu button {
    padding: 10px 12px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    text-align: left;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown-menu .left-menu button:hover {
    border-color: green;
    color: green;
}

.dropdown-menu .left-menu button.active {
    border: 2px solid green;
    font-weight: bold;
    color: green;
}

.dropdown-menu .right-content {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
}

.dropdown-menu .right-content ul {
    list-style: none;
    width: 180px;
}

.dropdown-menu .right-content ul h4 {
    color: green;
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.dropdown-menu .right-content ul li {
    padding: 4px 0;
    color: #333;
    font-size: 14px;
}
.nav-links .dropdown-menu {
    flex-direction: column;
    min-width: 205px;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.nav-links .dropdown-menu li {
    padding: 8px 0;
}

.nav-links .dropdown-menu li a {
    font-weight: 500;
    color: #000;
}

.nav-links .dropdown-menu li a:hover {
    color: green;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: #000;
}