/* Header.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    max-width: 1500px;
    margin: 0 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

.logo span {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.search-box {
    display: flex;
    width: 500px;
    margin: 0 40px;
    border: 1px solid #0f8f4d;
    border-radius: 6px;
    overflow: hidden;
}

.search-box input {
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
}

.search-box select {
    border: none;
    padding: 10px;
    outline: none;
    border-left: 1px solid #0f8f4d;
}

.search-box button {
    background-color: #0f8f4d;
    color: white;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: bold;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #000;
    cursor: pointer;
}